.history_label {
    display: flex;
    text-align: center;
    background-color: #065f46;
    height: 30px;
    color: #fff;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: space-around;
}

.payment_label{
    display: flex;
    text-align: center;
    background-color: rgb(127, 29, 29);
    height: 30px;
    color: #fff;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: space-around; 
}


.left{
    display: flex;
    width: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.history {
    width: 85%;
    height: fit-content;
    border: solid 2px #fff;
    border-radius: 10px;
}

.card__content{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card__content div div{
    width:50%;
}

.card__content div{
    display: flex;
}

.card {
    margin-top:30px;
    border-radius: 10px;
    background-color: #fff;
    width: 85%;
}

.month {
    text-transform: capitalize;
}

.card textarea {
    resize: none;
    border:0;
    outline:none;
}

#history::-webkit-scrollbar {
    width: 0.5em;
}

#history::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#history::-webkit-scrollbar-thumb {
    width: 0.5em;
    background-color: #b1b0b0;
    border-radius: 20px;
}

#history::-webkit-scrollbar-button {
    display: none;
}

#payment::-webkit-scrollbar {
    width: 0.5em;
}

#payment::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#payment::-webkit-scrollbar-thumb {
    width: 0.5em;
    background-color: #b1b0b0;
    border-radius: 20px;
}

#payment::-webkit-scrollbar-button {
    display: none;
}

.history{
    overflow: hidden;
}